@page
@model IndexModel
@{
    ViewData["Title"] = "All Products";
}
<!-- View Title -->
<h4 class="ml-3 mt-2">@ViewData["Title"]</h4>
<div class="card">
    <div class="card-body">
        <table class='table'>
            <thead class=''>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lst)
                {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>